<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>615738260899-qo1qr8e9ol3j0n3dm1uv6q1fvosr8n93.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615738260899-qo1qr8e9ol3j0n3dm1uv6q1fvosr8n93</string>
	<key>API_KEY</key>
	<string>AIzaSyBD8C5LMzOS9MCaS1pn7LfKC7JWCg_sXvM</string>
	<key>GCM_SENDER_ID</key>
	<string>615738260899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.seerooms</string>
	<key>PROJECT_ID</key>
	<string>seerooms-63da8</string>
	<key>STORAGE_BUCKET</key>
	<string>seerooms-63da8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615738260899:ios:c560e1700958e88a272e16</string>
</dict>
</plist>